.c-menu {padding: 10px;background-color: green;color: white;display: inline-block;}
    .c-menu a {display: inline-block;margin: 10px;min-width: 4em;cursor: pointer;}
    .c-menu a.active {color: cornflowerblue;}